.dialog-form{
   display: table;
   width: 500px;
   border-spacing: 25px;
}
.dialog-form span{
    display: table-row;
}
.dialog-form label,input{
    display: table-cell;
    font-size: 20px;
}
.dialog-form input{
    width: 80%;
}
.dialog-error{
    color: red;
    padding-left: 25px;;
}